@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #686761; 
}


.container {
    width: 70%;
    margin: 50px auto;
    padding: 20px;
    background-color: rgb(240, 238, 238); 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.detalle-cancion h2 {
    font-size: 28px;
    color: #0077ff;
    margin-bottom: 20px;
    text-align: center;
}

p{
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}

.btn-container{
	display: flex;
	justify-content: space-between;
    width: 100%; 
}
.btn {
    margin-top: 30px;
    background-color: #0077ff;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 18px;
}
